<h1 class = 'text-center'>Login Page</h1>
<div class="center_div">
  <%= form_tag sessions_path do %>
    <%= label_tag :username %> <br>
    <%= text_field_tag :username, '', class: 'form-control', placeholder: "Enter your Username" %><br>

    <%= label_tag :password %><br>
    <%= password_field_tag :password, '', class: 'form-control', placeholder: "Enter your Password" %><br>
    <%= submit_tag "Sign in",  class: 'btn btn-primary' %>
  <% end %>

</div>
