<h1><%=@dog.breed%></h1>
<img src="<%=@dog.link%>" alt="<%=@dog.breed%>">
<ul>
  <label>Personality:</label>
  <li><%=@dog.personality%></li>
  <label>Energy Level:</label>
  <li><%=@dog.energy_level%></li>
  <label>Size:</label>
  <li><%=@dog.size%></li>
  <label>Barking Level (1: Quiet - 3: Intermittent Barking):</label>
  <li><%=@dog.barking_level%></li>
</ul>
