<div class="center_div">
  <h1 class="text-center"><%=@dog.breed%></h1>
  <img src="<%=@dog.link%>" alt="<%=@dog.breed%>" style="max-width: 100%; height: auto;">
  <br>
  <ul class="text-center">
    <label>Personality:</label>
    <li><%=@dog.personality%></li>
    <label>Energy Level:</label>
    <li><%=@dog.energy_level%></li>
    <label>Size:</label>
    <li><%=@dog.size%></li>
    <label>Barking Level (1: Quiet - 3: Intermittent Barking):</label>
    <li><%=@dog.barking_level%></li>
    <a href="https://www.petfinder.com/search/dogs-for-adoption/us/ny/new-york-city/?distance=100&sort%5B0%5D=recently_added">ADOPT A DOG TODAY CLICK HERE</a>

  </ul>
</div>


<img src="https://goo.gl/D4iUjt" id="bg" alt="dog_home">
