<div class="row">

  <div class="col-sm-6">
    <% if @filtered %>
    <h1>List of potential Fur-ends:</h1>
    <h3>There are <%=@filtered.count%> furends we recommend for you!</h3>

      <%@filtered.each do |dog|%>
        <div class="col-sm-5">
            <img src="<%=dog.link%>" alt="<%=dog.breed%>" style="max-width: 80%; height: auto;">
            <p class="card-text"><%=link_to dog.breed, dog_path(dog)%></p>

        </div>
      <% end %>
    <%end%>
  </div>


  <!-- user/:id/:edit -->
  <div class="col-sm-6 pad_left">
  <div class="col-sm-2">
    <h3>Add Dogs</h3>
    <div class="form">
      <%= form_tag("/users/#{@user.id}/dogs", method: :patch, class: 'checkbox') do %>

        <%=collection_check_boxes :user, :dogs, @filtered, :id, :breed %> <br>

        <%= submit_tag "Add Dogs", class: 'btn btn-primary' %>
      <%end%><br>
    </div>
  </div>
  <!-- </div> -->

</div>

<img src="https://goo.gl/AQYuCN" id="bg" alt="dog_home">
