<div class="row">

  <div class="col-sm-6">
    <% if @filtered %>
    <h1>List of potential Fur-ends!</h1>
    <h3>There are <%=@filtered.count%> furends we recommend for you!</h3>

      <%@filtered.each do |dog|%>
        <figure>
          <img src="<%=dog.link%>" alt="<%=dog.breed%>" style="max-width: 60%; height: auto;">
          <figcaption><%=link_to dog.breed, dog_path(dog)%></figcaption>
        </figure>
      <% end %>
    <%end%>
  </div>


  <!-- user/:id/:edit -->
  <div class="col-sm-2"> </div>
  <div class="col-sm-4">
    <h3>Add to your saved dogs:</h3>
    <form role="form form-group">
      <%= form_tag("/users/#{@user.id}/dogs", method: :patch) do %>
        <%=collection_check_boxes :user, :dogs, @filtered, :id, :breed, class: 'checkbox-inline' %>
        <%= submit_tag "Add Dogs", class: 'btn btn-primary' %>
      <%end%><br>
    </form>
  </div>
</div>
