<!-- Show list of dogs User saved -->
<% if @filtered %>
  <%@filtered.each do |dog|%>
    <%=dog.breed%>
  <% end %>
<!-- user/:id/:edit -->
  <%=form_for @user do |f|%> #goes to update
    <%=f.collection_check_boxes :dogs, @filtered, :id, :breed%>
    <%=f.submit%>
  <%end%><br>
<!--  -->
<br>
<% else %>
  <%if @user.dogs.count == 0%>
    <p>You have no saved dogs yet!</p>
  <%else%>
    <%@user.dogs.each do |dog|%>
      <%=dog.breed%>
    <% end %>
  <%end%>

<% end %><br>

<!--  -->
