<%if @user.dogs.count == 0%>
  <p>You have no saved dogs yet!</p>
<%else%>
<h1>Your list of saved dogs:</h1>
<h3>You have <%=@user.dogs.count%> saved dogs</h3>
  <%@user.dogs.each do |dog|%>
  <figure class= 'col-sm-4'>
    <img src='<%=dog.link%>' alt="<%=dog.breed%>" style="max-width: 50%; height: auto;">
    <figcaption><%=link_to dog.breed, dog_path(dog)%></figcaption>

  </figure>

  <% end %>

<%end%>

<form action="/users/<%=@user.id%>/edit" method='get'>
  <button type='submit'>Update Personal Info</button>
</form>
<!--  -->
