<!DOCTYPE html>
<html>
  <head>
    <title>Furever Furend</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <%= link_to "Sign Out", signout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", signin_path %>
    <% end %>


    <% flash.each do |key, value| %>
      <em><%= value %></em>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
